pretrained-rut5-2-fp16/config.json filter=lfs diff=lfs merge=lfs -text
pretrained-rut5-2-fp16/generation_config.json filter=lfs diff=lfs merge=lfs -text
pretrained-rut5-2-fp16/model.safetensors filter=lfs diff=lfs merge=lfs -text
